<p>Some people claim that Observables are asynchronous. That is not true.</p>
<p>Observables are able to deliver values either synchronously or asynchronously.</p>
<p>func.call() means "give me one value synchronously"
  observable.subscribe() means "give me any amount of values, either synchronously or asynchronously"</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>


<table>
  <thead>
  <tr>
    <th></th>
    <th>Producer</th>
    <th>Consumer</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Pull</strong></td>
    <td><strong>Passive:</strong> produces data when requested.</td>
    <td><strong>Active:</strong> decides when data is requested.</td>
  </tr>
  <tr>
    <td><strong>Push</strong></td>
    <td><strong>Active:</strong> produces data at its own pace.</td>
    <td><strong>Passive:</strong> reacts to received data.</td>
  </tr>
  </tbody>
</table>
