<h2>app-ui-kit-table</h2>
<app-ui-kit-table mode="table">
  <app-thead>
    <app-tr>
      <app-th>
        header header header 1
      </app-th>
      <app-th>
        header 2
      </app-th>
    </app-tr>
    <app-tr>
      <app-td>
        td 1
      </app-td>
      <app-td>
        td 2
      </app-td>
    </app-tr>
  </app-thead>
  <app-tbody>
    <app-tr>
      <app-td>
        cell 1
      </app-td>
      <app-td>
        cell 2
      </app-td>
    </app-tr>
    <app-tr>
      <app-td>
        cell 3
      </app-td>
      <app-td>
        cell 4
      </app-td>
    </app-tr>
  </app-tbody>
</app-ui-kit-table>
