<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
  <h1>Angular portfolio project</h1>
  <p>
    В этом проекте я хотел бы показать все что я умею делать на фреймворке ангуляр, а также прорабатывать и пробовать некоторые новые технологии
  </p>
  <!--<img href="https://taiga-ui.dev/assets/images/taiga.svg">-->
  <!--<img href="https://taiga-ui.dev/assets/images/by.svg">-->
  <p>На работе я занимался созданием UI компонентов, был вдохновлен Taiga UI от комманды тинькофф</p>
  <p>Начал делать общую библиотеку, для того что мы используем на проекте - но так как это чисто моя инициатива без поддержки, это на паузе)</p>
  <p>Так же попробовал SSR для ангуляра, конечно это пока проигрывает сильно Nuxt.js но все же понимание и опыт тоже есть</p>
  <p>Пробую написать лендинг на ангуляре для института, где читаю лекции, но опять же - времени на все не хватает и это еще в процессе</p>
  <p>У меня есть другие репозитории, где я стараюсь вносить изменения по своим скилам и знаниям, поэтому руки доходят не до всего)</p>
  <p>https://github.com/Fafnur/banshop</p>
  <a class="list__link" routerLink="pages">Ссылка для перехода на функционал</a>
</div>
